body
{
    background-color: rgb(210, 189, 249);
}
#counter
{
    display: block;
    text-align: center;
    font-size: 300px;
    font-family: Arial;
}

#buttons
{
    display: block;
    text-align: center;
}
.button
{
    font-size: 80px;
    font-family: Arial;
    padding: 10px 20px;
    color: rgb(93, 11, 245);
    background-color: aquamarine;
}
.button:hover
{
    background-color: rgb(93, 11, 245);
    color: aquamarine;
}