body{
    background: linear-gradient(135deg, #f5f7fa, #c3cfe2);
    margin:0;
    display: flex;
            justify-content: center;
            align-items: center;
           
}
#container{
    width: 400px;
    height: 400px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
#clock{
    font-family: 'Courier New', Courier, monospace;
    font-size : 100px;
    text-align: center;
    color : #000000;
    backdrop-filter: blur(10px);
    border-radius: 20px;
    padding: 20px;
}