body{
    background: linear-gradient(135deg, #96b7e9, #7661ee);
    margin:0;
    display: flex;
            justify-content: center;
            align-items: center;
           height : 100vh;
           width: 100vw;
}
#container{
    width: 400px;
    height: 400px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
#clock{
    font-family: 'Courier New', Courier, monospace;
    font-size : 200px;
    text-align: center;
    color : #000000;
    backdrop-filter: blur(50px);
    border-radius: 20px;
    padding: 20px;
    background-color: aqua;
}